html {
	font-size: 16px;
}

body {
	margin: 0;
	padding: 0;
	font-family: Georgia;
	background: url("../images/bg.png");
}

header {
	min-height: 200px;
}
.header-body {
	margin: 20px 40px 20px 40px;
	height: 150px;
	background-color: #92dfe8;
	border-radius: 20px;
	display: flex;
}
/*
.search, .logo, .registration {
	border: 4px double black;
	color: green;
}
*/

.search {
 width: 40%;
 display: flex;
 align-items: center;
}
.search-box {
	margin: 0px 0px 0px 20px;
	width: 400px;
}
.search-box-form {
	display: flex;
}
.pre-search-box-input {
	height: 30px;
	width: 15px;
	border-radius: 10px 0px 0px 10px;
	background-color: #d0faff;
}
.search-box-input {
	width: 370px;
}
.input-box {
	border: 0px;
	background-color: #d0faff;
	outline: none;
	margin: 0;
	padding: 0;
}

.search-box-button {
	width: 30px;
	height: 30px;
	outline: none;
	background-color: #e2fcff;
	border: 0px;
	border-radius: 0px 10px 10px 0px;
}
.search-box-button:hover {
	background-color: #f3fdff;
	cursor: pointer;
}
.search-box-button-image {
	width: 90%;
	height: 90%;
	margin: auto;
}
.logo {
	width: 20%;
	display: flex;
}
.logo-image {
	height: 100%;
	margin: auto;
}
.registration {
	width: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.registration-center {
	display: flex;
}
.registration-image-div {
	width: 50px;
	height: 50px;
}
.registration-image {
	width: 100%;
	height: 100%;
	border-radius: 10px 0px 0px 10px;
}
.login-form {
	height: 50px;
	width: 200px;
	display: flex;
}
.pre-form {
	width: 5px;
	height: 50px;
	background-color: #d0faff;
}
.login-box-form {
	display: flex;
	flex-direction: column;
}
.login-box-input {
	width: 155px;
	height: 25px;
}
.password-box-input {
	width: 130px;
	height: 25px;
}
.login-box-input, .password-box-input {
	font-size: 13px;
}
.login-box-button {
	outline: none;
	background-color: #e2fcff;
	border: 0px;
}

.login-box-up, .login-box-down {
	display: flex;
	height: 25px;
}
.login-box-button-up {
	min-width: 45px;
	height: 25px;
	border-radius: 0px 10px 0px 0px;
	cursor: pointer;
}
.login-box-button-down {
	min-width: 70px;
	height: 25px;
	border-radius: 0px 0px 10px 0px;
	cursor: pointer;
}

.body {
	min-height: 1150px;
	display: flex;
}

.body-inside {
	display: flex;
	margin: 0px 40px 0px 40px;
	width: 100%;
	background-color: #f9feff;
	border-radius: 30px;
	padding: 10px;
}

.body-left {
	min-height: inherit;
	min-width: 300px;
	max-width: 300px;
}
.body-left-menu {
	background-color: #d0faff;
	height: 450px;
	border-radius: 20px;
	padding: 20px 30px 20px 30px;
	display: flex;
	flex-direction: column;
}

.checkbox-left-menu {
	margin-top: 20px;
	align-items: center;
}

.checkbox {
	width: 20px;
	height: 20px;
	border: solid #fff;
	outline: none;
}

.checkbox:hover {
	background-color: #dae9eb;
}

.checbox:checked {
	background-color: #1f7374;
}

.body-right {
	display:flex;
	flex-direction: column;
	min-height: 450px;
	min-width: 210px;
	width: 100%;
	margin-left: 50px;
}
.info-bar {
	max-height: 4em;
}
.books {
	display:flex;
	flex-wrap: wrap;
	flex-direction: row;
	min-height: 450px;
	min-width: 210px;
	width: 100%;
	margin-left: 50px;
	margin: 0px 0 0 -25px;
}

.book-wrapper {
	width: 210px;
	height: 220px;
	margin-left: 25px;
	margin-top: 25px;
}
.book-wrapper-front {
	position: absolute;
	width: 210px;
	height: 220px;
	background-color: #effdff;
	cursor: pointer;
	border-radius: 20px;
	transition: 1s;
	backface-visibility: hidden;
}

/* .book-wrapper-front:hover {
  transform:rotateY(180deg);
}
.book-wrapper-back:hover {
	transform:rotateY(180deg);
}
*/
.book-wrapper-back {
	position: absolute;
	width: 210px;
	height: 220px;
	background-color: #effdff;
	cursor: pointer;
	border-radius: 20px;
	transition: 1s;
	backface-visibility: hidden;
}

.book-wrapper-up {
	height: 200px;
	width: inherit;
}
.book-wrapper-center {
	margin: 4px 20px 6px 20px;
	height: inherit;
}
.book-wrapper-down {
	height: 20px;
	width: inherit;
	background-color: #6ebdc6;
	display: flex;
	font-size: 10px;
	color: #ffffff;
	background-image: linear-gradient(to left,transparent,transparent 50%,#17adbe 50%,#17adbe);
	background-size: 200% 100%;
	transition: all .25s ease-in;
	background-position: 100% 0;
	border-radius: 0px 0px 20px 20px;
}
.book-wrapper:hover .book-wrapper-down {
	background-position: 0 0;
}

.book-wrapper-down-text {
	text-transform: uppercase;
	margin: auto;
}

.fast-book-info {
	height: 32px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	color: #222222;
}
.book-name {
	margin: auto;
	font-size: 10px;
}
.book-author {
	margin: auto;
}
.book-image-background-blured {
	position: absolute;
	/*background-size: 90% 90%;*/
	filter: blur(5px);
	width: inherit;
	height: inherit;
}
.book-image-box {
	margin: 2px;
	display: flex;
	justify-content: center;
	height: 162px;
	width: 170px;
}
.book-image {
	filter: blur(0px);
	max-height: 152px;
	max-width: 160px;
}

.down-style-light {
	background-color: #effdff;
}
.style-light {
	background-color: #ffffff;
}

footer {
	min-height: 150px;
	background-color: #052c31;
	margin-top: 100px;
}
