html {
	font-size: 16px;
}

body {
	margin: 0;
	padding: 0;
	font-family: Georgia;
	background: url("../images/bg.png");
}

header {
	min-height: 200px;
}

:root {
	--header-color: #2d2d44;
	--light-blue-color: #f0faff;
	--button-color: #e2fcff;
	--button-color-hover: #f3fdff;
	--button-color-black: #f3fdff;
	--button-color-black-hover: #2d2d44;
	--background-color-light: #f9feff;
	--white-color: #ffffff;
	--background-color-div: #effdff;
}

.header-body {
	margin: 20px 40px 20px 40px;
	height: 150px;
	background-color: var(--header-color);
	border-radius: 20px;
	display: flex;
}
/*
.search, .logo, .registration {
	border: 4px double black;
	color: green;
}
*/

.search {
 width: 40%;
 display: flex;
 align-items: center;
}
.search-box {
	margin: 0px 0px 0px 20px;
	width: 400px;
}
.search-box-form {
	display: flex;
}
.pre-search-box-input {
	height: 30px;
	width: 15px;
	border-radius: 10px 0px 0px 10px;
	background-color: var(--light-blue-color);
}
.search-box-input {
	width: 370px;
}
.input-box {
	border: 0px;
	background-color: var(--light-blue-color);
	outline: none;
	margin: 0;
	padding: 0;
}

.search-box-button {
	width: 30px;
	height: 30px;
	outline: none;
	background-color: var(--button-color);
	border: 0px;
	border-radius: 0px 10px 10px 0px;
}
.search-box-button:hover {
	background-color: var(--button-color-hover);
	cursor: pointer;
}
.search-box-button-image {
	width: 90%;
	height: 90%;
	margin: auto;
}
.logo {
	width: 20%;
	display: flex;
}
.logo-image {
	height: 75%;
	margin: auto;
}
.registration {
	width: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.registration-center {
	display: flex;
}
.registration-image-div {
	width: 50px;
	height: 50px;
}
.registration-image {
	width: 100%;
	height: 100%;
	border-radius: 10px 0px 0px 10px;
}
.login-form {
	height: 50px;
	width: 200px;
	display: flex;
}
.pre-form {
	width: 5px;
	height: 50px;
	background-color: var(--light-blue-color);
}
.login-box-form {
	display: flex;
	flex-direction: column;
}
.login-box-input {
	width: 155px;
	height: 25px;
}
.password-box-input {
	width: 130px;
	height: 25px;
}
.login-box-input, .password-box-input {
	font-size: 13px;
}
.login-box-button {
	outline: none;
	background-color: var(--button-color);
	border: 0px;
}

.login-box-up, .login-box-down {
	display: flex;
	height: 25px;
}
.login-box-button-up {
	min-width: 45px;
	height: 25px;
	border-radius: 0px 10px 0px 0px;
	cursor: pointer;
}
.login-box-button-down {
	min-width: 70px;
	height: 25px;
	border-radius: 0px 0px 10px 0px;
	cursor: pointer;
}

.body {
	min-height: 1150px;
	display: flex;
}

.body-inside {
	display: flex;
	margin: 0px 40px 0px 40px;
	width: 100%;
	background-color: var(--background-color-light);
	border-radius: 30px;
	padding: 10px;
}

.body-left {
	min-height: inherit;
	min-width: 300px;
	max-width: 300px;
}
.body-left-menu {
	background-color: var(--light-blue-color);
	height: 450px;
	border-radius: 20px;
	padding: 20px 30px 20px 30px;
	display: flex;
	flex-direction: column;
}

.center-text {
	margin: 0;
	padding: 0;
}
.checkbox-left-menu {
	width: 100%;
	height: 20px;
	border-radius: 10px;
	cursor: pointer;
	margin-top: 20px;
	justify-content: center;
	display: flex;
	color: #444444;
	user-select: none;
	background-color: var(--button-color-black);
	padding: 4px;
}
input[class="checkbox filter"]:checked + .checkbox-left-menu {
	background-color: var(--button-color-black-hover);
	color: #ffffff;
}
.checkbox {
	outline: none;
	position: absolute;
	display: none;
}

.body-right {
	display:flex;
	flex-direction: column;
	min-height: 450px;
	min-width: 210px;
	width: 100%;
	margin-left: 50px;
}
.info-bar {
	max-height: 4em;
}
.books {
	display:flex;
	flex-wrap: wrap;
	flex-direction: row;
	min-height: 450px;
	min-width: 210px;
	width: 100%;
	margin-left: 50px;
	margin: 0px 0 0 -25px;
}

.book-wrapper {
	width: 210px;
	height: 220px;
	margin-left: 25px;
	margin-top: 25px;
}
.book-wrapper-front {
	position: absolute;
	width: 210px;
	height: 220px;
	background-color: var(--background-color-div);
	cursor: pointer;
	border-radius: 20px;
	transition: 1s;
	backface-visibility: hidden;
}
.book-wrapper-back {
	position: absolute;
	transform:rotateY(-180deg);
	width: 210px;
	height: 220px;
	background-color: var(--header-color);
	cursor: pointer;
	border-radius: 20px;
	transition: 1s;
	backface-visibility: hidden;
}
input[class="checkbox book"]:checked + .book-wrapper > .book-wrapper-front {
  transform:rotateY(180deg);
}
input[class="checkbox book"]:checked + .book-wrapper > .book-wrapper-back {
  transform:rotateY(0deg);
}

.book-description, .book-wrapper-back-down-text {
	color: white;
}
.book-description {
	margin: 5px;
}
.button-url {
	text-decoration:none;
}
.book-wrapper-back-up {
	min-height: 180px;
	width: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
}
.book-wrapper-back-down {
	height: 40px;
	width: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
}
.book-wrapper-back-down-text {
	padding: 3px;
	border-radius: 10px;
	border: 2px solid var(--light-blue-color);
	margin: auto;
}


.book-wrapper-up {
	height: 200px;
	width: inherit;
}
.book-wrapper-center {
	margin: 4px 20px 6px 20px;
	height: inherit;
}
.book-wrapper-down {
	height: 20px;
	width: inherit;
	background-color: #6ebdc6;
	display: flex;
	font-size: 10px;
	color: var(--white-color);
	background-image: linear-gradient(to left,transparent,transparent 50%,#17adbe 50%,#17adbe);
	background-size: 200% 100%;
	transition: all .25s ease-in;
	background-position: 100% 0;
	border-radius: 0px 0px 20px 20px;
}
.book-wrapper:hover .book-wrapper-down {
	background-position: 0 0;
}

.book-wrapper-down-text {
	text-transform: uppercase;
	margin: auto;
}

.fast-book-info {
	height: 32px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	color: #222222;
}
.book-name {
	margin: auto;
	font-size: 10px;
}
.book-author {
	margin: auto;
}
.book-image-background-blured {
	position: absolute;
	/*background-size: 90% 90%;*/
	filter: blur(5px);
	width: inherit;
	height: inherit;
}
.book-image-box {
	margin: 2px;
	display: flex;
	justify-content: center;
	height: 162px;
	width: 170px;
}
.book-image {
	filter: blur(0px);
	max-height: 152px;
	max-width: 160px;
}

.down-style-light {
	background-color: var(--background-color-div);
}
.style-light {
	background-color: #ffffff;
}

footer {
	min-height: 150px;
	background-color: #052c31;
	margin-top: 100px;
}
