<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="{% static "riddles/style.css" %}">
	</head>
	<body>
    <input type="checkbox" class="checkbox read" form="search-form" id="read-mode" name="read-mode"><div class="read-mode"></div>
		<header>
			<div class="margin-top-bag"></div>
			<div class="header-body">
				<div class="search">
					<div class="search-box">
						<form action="/books" class="search-box-form" id="search-form">
							<div class="pre-search-box-input"></div>
							{% if filters.search == "" %}
								<input class="search-box-input input-box" autocomplete="off" name="search" placeholder="Поиск по библиотеке" type="text"/>
							{% else %}
								<input class="search-box-input input-box" autocomplete="off" name="search" placeholder="Поиск по библиотеке" type="text" value={{ filters.search }}>
							{% endif %}
							<button type="submit" class="search-box-button">
								<img class="search-box-button-image" src="{% static "images/search.svg" %}">
							</button>
						</form>
					</div>
				</div>
				<div class="logo">
					<a href="/books" class="button-url logo-block"><img class="logo-image" src="{% static "images/logo.png" %}"></img></a>
				</div>
				<div class="registration">
					<div class="registration-center">
						<div class="registration-image-div">
							<img class="registration-image" src="../../static/images/profile/profile0.png"></img>
						</div>
						<div class="pre-form"></div>
						<div class="login-form">
							<form action="/login" class="login-box-form" method="POST">
								<div class="login-box-up">
									<input class="login-box-input input-box" autocomplete="off" name="login" placeholder="Логин" type="text"/>
									<button type="submit" class="login-box-button login-box-button-up"></button>
								</div>
								<div class="login-box-down">
									<input class="password-box-input input-box" autocomplete="off" name="password" placeholder="Пароль" type="password"/>
									<button type="submit" class="login-box-button login-box-button-down">Войти</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</header>
		<div class="body">
			<div class="body-inside">
				<div class="body-left">
					<div class="body-left-menu">
						<div class="body-left-menu-text">
							<h3>Параметры поиска</h3>
						</div>
						<div class="body-left-menu-filters">
							<input type="checkbox" class="checkbox filter" form="search-form" id="search-author" name="search-author" {{ filters.author }}><label class="checkbox-left-menu" for="search-author"><p class="center-text">Поиск по автору</p></label>
							<input type="checkbox" class="checkbox filter" form="search-form" id="search-name" name="search-name" {{ filters.name }}><label class="checkbox-left-menu" for="search-name"><p class="center-text"><p class="center-text">Поиск по имени</p></label>
							<input type="checkbox" class="checkbox filter" form="search-form" id="search-description" name="search-description" {{ filters.description }}><label class="checkbox-left-menu" for="search-description"><p class="center-text">Поиск по описанию</p></label>
						</div>
					</div>
				</div>
				<div class="body-right">
					<div class="info-bar">
						<h1 class="info-bar-text">
              {{ book.name }}
						</h1>
					</div>
					<div class="book-block">
						<div class="book-reader">
							<div class="z-index-book">
								<div class="section-name">{{ section_title|safe }}</div>
		            <div class="book-reader-center">
		                {{ book_text|safe }}
		            </div>
								<label class="checkbox-left-menu button-read" for="read-mode"><p class="center-text">Режим чтения</p></label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer>
		</footer>
	</body>
</html>
