<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="{% static "riddles/style.css" %}">
	</head>
	<body>
		<header>
			<div class="header-body">
				<div class="search">
					<div class="search-box">
						<form action="/books" class="search-box-form" id="search-form">
							<div class="pre-search-box-input"></div>
							<input class="search-box-input input-box" autocomplete="off" name="search" placeholder="Поиск по библиотеке" type="text"/>
							<button type="submit" class="search-box-button">
								<img class="search-box-button-image" src="{% static "images/search.svg" %}">
							</button>
						</form>
					</div>
				</div>
				<div class="logo">
					<img class="logo-image" src="{% static "images/logo.png" %}"></img>
				</div>
				<div class="registration">
					<div class="registration-center">
						<div class="registration-image-div">
							<img class="registration-image" src="../../static/images/profile/profile0.png"></img>
						</div>
						<div class="pre-form"></div>
						<div class="login-form">
							<form action="/login" class="login-box-form" method="POST">
								<div class="login-box-up">
									<input class="login-box-input input-box" autocomplete="off" name="login" placeholder="Логин" type="text"/>
									<button type="submit" class="login-box-button login-box-button-up"></button>
								</div>
								<div class="login-box-down">
									<input class="password-box-input input-box" autocomplete="off" name="password" placeholder="Пароль" type="password"/>
									<button type="submit" class="login-box-button login-box-button-down">Войти</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</header>
		<div class="body">
			<div class="body-inside">
				<div class="body-left">
					<div class="body-left-menu">
						<h3>Параметры поиска:</h3>
						<input type="checkbox" class="checkbox" form="search-form" id="search-author" name="search-author"><label class="checkbox-left-menu" for="search-author"><p class="center-text">Поиск по автору</p></label>
						<input type="checkbox" class="checkbox" form="search-form" id="search-name" name="search-name"><label class="checkbox-left-menu" for="search-name"><p class="center-text"><p class="center-text">Поиск по имени</p></label></input>
						<input type="checkbox" class="checkbox" form="search-form" id="search-description" name="search-description"><label class="checkbox-left-menu" for="search-description"><p class="center-text">Поиск по описанию</p></label>
					</div>
				</div>
				<div class="body-right">
					<div class="info-bar">
						<h1 class="info-bar-text">
							{% if books_count > 0 %}
							    Результаты поиска
							{% else %}
								Ничего не найдено
							{% endif %}
						</h1>
					</div>
					<div class="books">
						{% for book in books %}
							<div class="book-wrapper">
								<div class="book-wrapper-front">
									<div class="book-wrapper-up">
										<div class="book-wrapper-center">
											<div class="fast-book-info">
												<div class="book-author">{{book.author}}</div>
												<div class="book-name">{{book.name}}</div>
											</div>
											<div class="book-image-box">
												<img src="../../static/images/books/book{{book.image_id}}.{{book.image_format}}" alt="bg-image" class="book-image-background-blured"></img>
												<img src="../../static/images/books/book{{book.image_id}}.{{book.image_format}}" class="book-image" alt="image">
											</div>
										</div>
									</div>
									<div class="book-wrapper-down">
										<span class="book-wrapper-down-text">Подробнее</span>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		<footer>
		</footer>
	</body>
</html>
